* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  background-color: rgb(242, 209, 209);
}

.container1 {
  max-width: 90rem;
  margin: 2rem auto;
  padding: 0px 2rem;
}

.img-fluid {
  max-width: 100%;
}

.logo img {
  margin-left: -150px;
  width: 70px;
  height: 70px;
  border-radius: 41px;
  outline: 4px solid rgb(210, 155, 155);
}

.nav1{
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  align-items: center;
}

.itemss {
  background: #ffffff;
  height: 85px;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem calc((100vw - 1000px) / 2);
  z-index: 12;
  text-align: center;
}

.items a:link {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}

.items a:hover {
  color: red;
}

.active {
  color: red;
}

button {
  height: 50px;
  width: 400px;
  font-size: 2rem;
  padding: 0.6rem 1rem;
  font-weight: bold;
  color: black;
  background: linear-gradient(to right, #c31432, #cc4834);
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  border: none;
}
.button1 {
  height: 50px;
  width: 200px;
  font-size: 2rem;
  padding: 0.6rem 1rem;
  font-weight: bold;
  color: black;
  background: linear-gradient(to right, #c31432, #b73f2d);
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  border: none;
}

button:hover {
  background: white;
  outline: 1px solid red;
  color: red;
  border: none;
}

.row1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.info1 {
  display: flex;
  flex-direction: column;
}

.short-info {
  color: red;
  font-size: 1rem;
  margin-bottom: 0.9rem;
}

.hero-heading {
  font-size: 3rem;
  margin-bottom: 0.3rem;
}

.hero-sub-heading {
  font-size: 0.9rem;
  opacity: 0.7;
}

.users {
  display: flex;
  align-items: center;
  margin: 1rem 0px;
}

.user {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid red;
}

.Explore-Now {
  height: 10px;
  width: 10px;
  align-self: start;
  margin-top: 40px;
}

/* media queries */

@media only screen and (max-width: 800px) {
  .items {
    display: none;
  }

  .roww{
    grid-template-columns: 1fr;
  }

  .learn-more {
    height: 20px;
    width: 20px;
    align-self: start;
    margin: 1rem 0px;
  }
}
.hero-sub-heading{
  margin-top: 20px;
}
.hero-image {

  height:80vh;
  width:500px;
  background-image:url("img.jpeg");
  float: right;
}
.footer-item{
color: blue;
}
.Trend {
height:100px;
width:200px;
}
.Books{
margin-left: 90px;
}
.containerrs {
margin-top: 10px;
align-items: center; 
float: left;
margin-left:40px;
}
.image{
float: left;
padding: 40px;

}
.imggal{
height:300px;
width:250px;
border-radius:25px;
}
.image1{
float: left;
padding:40px;
}
.img1{
height:300px;
width:250px;
border-radius:25px;
}
.image2{
float: left;
padding:40px;
}
.img2{
height:300px;
width:250px;
border-radius:25px;
}
.image3{
float: left;
padding:40px;
}
.img3{
height:300px;
width:250px;
border-radius:25px;
}
.image4{
float: left;
padding: 40px;
}
.img4{
height:300px;
width:250px;
border-radius:25px;
}
.image5{
float:left;
padding: 40px;
}
.img5{
height:300px;
width:250px;
border-radius:25px;
}
.image6{
float:left;
padding: 40px;
}
.img6{
height:300px;
width:250px;
border-radius:25px;
}
.image7{
float:left;
padding: 40px;
}
.img7{
height:300px;
width:250px;
border-radius:25px;
}
.Footspace{
float:left;
padding:40px;
}
.Footspace1{
float:left;
padding:40px;
}
.Footspace2{
float:left;
padding:40px;
}
.Footspace3{
float:left;
padding:40px;
}
.container {
position: relative;
min-height: 100vh;
}
.footer {
margin-bottom: -1000px;
background: linear-gradient(rgb(1, 0, 0), rgba(13, 0, 0, 0.778)), url(https://i.postimg.cc/j584FvRh/1.jpg);
color: #fff;
padding: 20px 0;
position: absolute;
bottom: 0;
width: 100%;
}
.footer .wrapper {
width: 100%;
max-width: 1170px;
margin: 0 auto;
text-align: center;
}
.footer .footer-links li {
display: inline-block;
margin-right: 20px;
}
.footer .footer-links a {
color: #fff;
text-decoration: none;
font-size: 16px;
}
.other{
color:antiquewhite;
margin-right: -50px;
}
